
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/imagenBaseNitida.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.cargando{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
  justify-content: center;   

}
.cargando > input{
  width: 80%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.747);
  color: #FFD700;
  font-family: cursive;
}
.imagenPj{
  border: 3px solid red;
  border-radius: 15px;
  max-width: 15em;
}
.col1{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.componenteCargar{
  display: grid;
  grid-template-columns: 40% 60%;
}
.tablaRanking{
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1em;
  align-items: center;
  
  width: 60%;
  padding: 3em;

  

  
}
.plus{
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 15px;

}
.numeroRanking{
  color:#8B0000;
  margin-right: 0.8em;
  font-size: 2em;
}
.cartas {
  position: relative; /* Asegura que el z-index se aplique */
  z-index: 1; /* Valor base de z-index para cartas normales */
  transition: text-shadow 1s cubic-bezier(1, 1, 0.32, 1), transform 1s cubic-bezier(1, 1, 0.32, 1);
 
}

.cartas:hover {
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 0, 0.5); /* Sombra aún más brillante al hacer hover */
  transform: scale(1.5);
 
  transition: text-shadow 1s cubic-bezier(1, 1, 0.32, 1), transform 1s cubic-bezier(1, 1, 0.32, 1);
  z-index: 10; 

}
.shadowBody:hover{
  box-shadow: 0 0 15px rgba(255, 255, 0, 0.7), 0 0 25px rgba(255, 165, 0, 0.7); /* Brillante sombra */

}
.classEstrella{
  color: #FFD700;
  font-size: 3em;
  margin-left: 0.5em;
  margin-bottom: 0;

}
.classCardDestino{
  
  box-shadow: 
  0px 0px 15px 5px rgba(255, 215, 0, 0.9), /* Resplandor dorado intenso */
  0px 0px 30px 10px rgba(255, 215, 0, 0.7), /* Brillo dorado cálido */
  0px 0px 45px 15px rgba(255, 223, 0, 0.5), /* Brillo dorado expandido */
  0px 0px 60px 20px rgba(255, 223, 0, 0.4), /* Resplandor dorado suave */
  0px 0px 80px 25px rgba(255, 239, 0, 0.3); /* Resplandor dorado adicional */
}
.classCardDestino:hover{
  transform: scale(1.5);
}
.imagenCartaPj{
  border: 4px solid red;
  border-radius: 10px;
 
}
.inputCartaPj>input{
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.288);
  color: #FFD700;
  width: auto;
  border-radius: 10px;
 text-align: center;
}

.modalus{
border: 5px solid red;
border-radius: 9px;
opacity: 0.9;

}

.imagenPrueba{

  border: 10px solid red;
  border-radius: 15px;
  max-width: 300px;
  max-height: 300px;

}

p {
  font-size: 1rem; /* Tamaño de fuente predeterminado */
  overflow-wrap: break-word; /* Asegura que las palabras largas se rompan */
  text-overflow: ellipsis; /* Opcional: Agrega puntos suspensivos si el texto se desborda */
  white-space: normal; /* Permite el salto de línea */
}
.estrellitas{
  display: flex;
  flex-direction: row;
  gap: 3px;
}





.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  position: fixed; /* Fijo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
}

.spinner {
  border: 16px solid #f3f3f3; /* Color de fondo */
  border-top: 16px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}